.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
}

.jumbotron {
    background-color: black;
    color: white;
}

header {
    background-color: black;
    color: white;
}

.divh2 {
    display: inline-block;
    float: right;
}

.divh1 {
    display: inline-block;
}

body {
    background-color:black;
}