.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.jumbotron {
    background-color: black;
    color: white;
}

header {
    background-color: black;
    color: white;
}

.divh2 {
    display: inline-block;
    float: right;
}

.divh1 {
    display: inline-block;
}

body {
    background-color:black;
    color: white;

}

.btn {
    padding: 3em;;
}


